# Dependencies
node_modules
package-lock.json

# Build outputs
dist/
out/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
coverage/

# vscode packages
*.vsix